@page "/"
@using BlazorAnimate

<Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(5)">

    <Animate Animation="Animations.FadeIn" DurationMs="3000"></Animate><h1>Hello, animated world!</h1>

    <Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)" Delay="TimeSpan.FromSeconds(1)">
        <Counter></Counter>
    </Animate>

</Animate>