@page "/"
@using BlazorAnimate

<Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(5)">

    <h1>Hello, animated world!</h1>

    Welcome to your new app.

    <Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)" Delay="TimeSpan.FromSeconds(1)">
        <Counter></Counter>
    </Animate>

</Animate>